body {width: 930px;}



#secondary {width: 360px; }

.mla-reveal-open {
    padding-left: 18px;
    background-image: url('../../../../../application/views/scripts/images/silk-icons/magnifier_zoom_in.png');
    background-repeat: no-repeat;
    background-position: left;
}

.mla-reveal-close {
    padding-left: 18px;
    background-image: url('../../../../../application/views/scripts/images/silk-icons/magifier_zoom_out.png');
    background-repeat: no-repeat;
    background-position: left;
}

div.p {font-size:1.2em; line-height:1.5em; margin-bottom:1.5em;}

div.blockquote {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0;
    font-style: italic;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 1.5em 0 0;
    
}

blockquote.quote {
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;

}

div.mlatei-discussion-wrap { margin-bottom: 1.5em; }

div.mlatei-discussion-references {
    float: right;
    border: 1px solid black;
    color: #A49D4C;
}

div.mlatei-discussion-references ul {
    margin: 3px;
}

ul#mlatei-discussion-nav {
    list-style: none;
}

ul.mlatei-discussion-nav li {
    display: block;
    cursor: pointer;
}

div.mlatei-discussion-bib-wrap {
    display: none;
}

div.mlatei-discussion-passages-wrap {
    display: none;
}

div.mlatei-bibliography-wrap {font-size:1.2em; line-height:1.5em; margin-bottom:1.5em;}


#convo-reset {
    cursor: pointer;
}

a.mla-toggle-details {
    cursor: pointer;
    font-size: 10px;    
    
}

ul#mla-refs {font-size:1.2em; line-height:1.5em; margin-bottom:1.5em; list-style:none; margin-left: 0px;}

li.mla-ref {cursor: pointer; 
    color: #843418; 
    font-size: 1.2em;
    display: inline;
    line-height: 1.2em; 
}
    
li.mla-ref:hover {
    color: #7B8D78;

}    
    
div.mla-bib-entry {
    margin-top: 6px;
}    

div.mla-passage {
    margin-top: 6px;
}

p.mla-passage-line {
    float: left;
}

div.mla-passage-html {
    margin-left: 40px;
}

span.line {
    display:block;
}

span.stage {
    font-family: monospace;
    
}

span.mla-title {
    font-style: italic;
}

h2.mla-bib-entry {
    font-style: italic;
}




li.mla-in-convo {
    

}

span.mla-convos {
    cursor: pointer;

}

p.tags {
    margin-bottom: 6px;
}

